:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(ratica.jpg);
  background-size: cover;
  gap: 1rem;
}

.title {
  color: #3c3f4e;
  background-color: black;
  font-size: 2em;
  margin: 0;
  text-align: center;
  align-items: center;
}

.card-movie {
  background-color: #62347b;
  width: calc(50vh / 1.5);
  height: 50vh;
  padding: 10pxx;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #d9c9db;
}

.card-gio {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card-gio:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-gio:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card-gio:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card-gio:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card-gio:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* Estilos jhoan */
.cards-team {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: aqua;
}

.card-jhoan {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.imagen-raccoon {
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.parrafo {
  width: 90%;
  height: 10%;
}

/* Fin estilos jhoan */

/* inicio estilos Ana */
.card-ana {
  width: var(--card-width);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2d3e;
  padding: 10px;
  border-radius: 10px;
}

#img-ana {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.info-card-ana {
  text-align: center;
  padding: 10px;
  background-color: #3c3f4e;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.info-card-ana h3,
.info-card-ana h4 {
  margin: 5px 0;
  color: rgb(245, 245, 245);
}

/* fin estilos Ana */
/* 
estilos mateo */

.card-mateo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.card-mateo img {
  width: 100%;
}
